<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Employee</h3>
    <form  #heroForm="ngForm">
    <div class="row form-group">
      <div class="col-md-3">
        <input type="text" [(ngModel)]="employeeDetails.Id" required name="eid" #eid="ngModel" class="form-control" placeholder="Emp Id" />
        <span [hidden]="eid.valid || eid.pristine" class="badge badge-danger">
        EmpId is required
      </span>
    </div> 
      <div class="col-md-3"><input type="text" [(ngModel)]="employeeDetails.Name" required name="name" #name="ngModel" class="form-control" placeholder="Name"/><span [hidden]="name.valid || name.pristine" class="badge badge-danger">
        Name is required
      </span></div>
      <div class="col-md-3"><input type="date" (change)="onDateSelect($event)" name="dob" [(ngModel)]="employeeDetails.Dob" class="form-control" /></div>
      <div class="col-md-3"><input [(ngModel)]="employeeDetails.Age" type="text" class="form-control" name="age" readonly /></div>
    </div>
    <div class="row form-group">
        <div class="col-md-3"><select [(ngModel)]="employeeDetails.Gender" required name="gender" #gender="ngModel" class="form-control" placeholder="Gender" name="gender"><option value="">Select Gender</option><option *ngFor="let val of Gender" >{{val}}</option></select><span [hidden]="gender.valid || gender.pristine" class="badge badge-danger">
          Gender is required
        </span></div>
      <div class="col-md-3"><input type="text" [(ngModel)]="employeeDetails.Email" required name="email" #email="ngModel" class="form-control" placeholder="Email" name="email"/><span [hidden]="email.valid || email.pristine" class="badge badge-danger">
        Email is required
      </span></div>
      <div class="col-md-6"><textarea [(ngModel)]="employeeDetails.Post" required name="post" #post="ngModel" style="resize:none" class="form-control" placeholder="Post" ></textarea><span [hidden]="post.valid || post.pristine" class="badge badge-danger">
        Post is Required
      </span></div>
    </div>

    <input type="file" class="form-control browse" [(ngModel)]="employeeDetails.Image" name="Image" (change)="getFiles($event)"/>
    <div>
      <img [src]="sanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+filestring)" style="height:100px;width:100px" />
    </div>
 
    <div class="row form-group float-right">
      <div class="btn-size" *ngIf="isEdit===false"><button class="btn btn-success" [disabled]="!heroForm.form.valid" (click)="addEmployee()">Add Employee</button></div>
      <div class="ubtn-size" *ngIf="isEdit===true"><button class="btn btn-success" (click)="updateEmployee()">Update Employee</button><button class="btn btn-danger ml-3" (click)="reset()">Cancel</button></div>
    </div> 
  </form>
  </div>
</div>
<hr style="height: 75px; width:0%">
<div class="container custom-container-2">
  
  <!-- Show it when there is no employee -->
  <div class="no-data text-center" *ngIf="Employee.length == 0">
    <p>There is no employee added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <!-- <div *ngIf="Employee.length != 0"> -->
    <h3 class="mb-3 text-center">Employees List</h3>
    <div class="col-md-12">
      <div class="table-responsive table-container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Emp Id</th>
              <th scope="col">Name</th>
              <th scope="col">DOB</th>
              <th scope="col">Gender</th>
              <th scope="col">Email</th>
              <th scope="col">Post</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let employee of Employee'>
              <td>{{employee.Id}}</td>
              <td>{{employee.Name}}</td>
              <td>{{employee.Dob}}</td>
              <td>{{employee.Gender}}</td>
              <td>{{employee.Email}}</td>
              <td>{{employee.Post}}</td>
              <td>
                <a (click)="edit(employee.Id,employee.Name,employee.Dob,employee.Gender,employee.Email,employee.Post)"  class="btn btn-primary btn-sm">Edit</a>
                <a class="btn btn-danger btn-sm text-white ml-2" (click)="deleteEmployee(employee.Id)">Deletebb</a>
                <a class="btn btn-danger btn-sm text-white ml-2" (click)="deleteEmplbq(employee.Id)">Deletebq</a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
  <!-- </div> -->
