<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Employee</h3>
    <form  #empForm="ngForm">
    <div class="row form-group">
      <div class="col-md-3">
        <input type="text" [(ngModel)]="employeeDetails.Id" required name="eid" #eid="ngModel" class="form-control" placeholder="Emp Id" />
      </div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="employeeDetails.Name" required name="name" #name="ngModel" class="form-control" placeholder="Name"/>
      </div>  
      <div class="col-md-3">
        <input type="date" (change)="onDateSelect($event)" name="dob" [(ngModel)]="employeeDetails.Dob" class="form-control" />
      </div>
      <div class="col-md-3">
        <input [(ngModel)]="employeeDetails.Age" type="text" class="form-control" name="age" readonly />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <select [(ngModel)]="employeeDetails.Gender" required name="gender" #gender="ngModel" class="form-control" placeholder="Gender" name="gender"><option value="">Select Gender</option><option *ngFor="let val of Gender" >{{val}}</option></select>
      </div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="employeeDetails.Email" required name="email" #email="ngModel" class="form-control" placeholder="Email" name="email"/>
      </div>  
      <div class="col-md-3">
        <textarea [(ngModel)]="employeeDetails.Post" required name="post" #post="ngModel" style="resize:none" class="form-control" placeholder="Post" ></textarea>
      </div>
    </div>
      <input type="file" class="form-control browse" [(ngModel)]="employeeDetails.Image" name="Image" (change)="getFiles($event)"/>
    <div>
      <img [src]="sanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+fileString)" style="height:100px;width:100px" />
    </div>
    <div class="row form-group float-right">
        <button class="btn btn-success" [disabled]="!empForm.form.valid" (click)="addEmployee()">Add Employee</button>
      <button  class="btn btn-primary float-right" [routerLink]="[ '/employees-list']">Cancel</button>
    </div> 
  </form>
  </div>
</div>
